$white: #ffffff;
$black: #222222;

// color-gray
$gray-100: #f8f8f8;
$gray-200: #eeeeee;
$gray-400: #d0d0d0;
$gray-600: #a0a0a0;
$gray-800: #878787;

// color-blue
$turquoise-blue: #00afb8;
$lake-blue: #39c8d0;
$eastern-blue: #028b95;
$egg-blue: #e8fbfa;
$blue: #3f66bf;
$vivid-blue: #619af0;
$bubble: #e8f7ff;

// color-red
$red: #ea3922;

// color-orange
$orange: #ffab31;
$desert-orange: #e09053;

// color-green
$green: #60b458;

// color-pink
$pink: #ffe8e5;

// color-yellow
$yellow: #fefbd3;

// color-purple
$purple: #8d43b0;
$lilac-purple: #a386d5;



